<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Productos de tienda online</title>
</head>
<body>

	<!-- Recibir variables simples -->
	<h2 th:text="'Nombre del articulo:' + ${articulo}"></h2>
	<h2 th:text="'Precio:' + ${precio}"></h2>
	<h2 th:text="'Descripcion: ' + ${descripcion}"></h2>
	
	
	<!-- Recibir objetos -->
	<h2>Detalle del producto</h2>
	<h3 th:text = "'Codigo: '+${producto.id}"></h3>
	<h3 th:text = "'Nombre: '+${producto.nombre}"></h3>
	<h3 th:text = "'Descripcion: '+${producto.descripcion}"></h3>
	<h3 th:text = "'Precio: '+${producto.precio}"></h3>
	
	<!-- Recibir listas -->
	
	
	
</body>
</html>