<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Lista de productos</title>
</head>
<body>
<h2>Lista de productos</h2>

<ul th:each="tmp : ${productos}" >
<li th:text="${tmp}"></li>
</ul>

<table border="1"  >
	<tr>
		<td>ID</td>
		<td>Nombre del producto</td>
		<td>Descripcion</td>
		<td>Precio</td>
	</tr>
	<tr th:each="tmpProducto:${lista}">
		<td th:text="${tmpProducto.id}"></td>
		<td th:text="${tmpProducto.nombre}"></td>
		<td th:text="${tmpProducto.descripcion}"></td>
		<td th:text="${tmpProducto.precio}"></td>
	</tr>
</table>

</body>
</html>